@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
 margin:0;
 padding:0;
 background: #43cea2;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
text-align: left;
padding: 10px;
}

.heading {
  font-family: Work Sans, sans-serif;
  font-size: 40px;
  color: #FEAC5E;
}

svg {
  background: transparent;
}

/* svg path {
  stroke:none;
  fill: #FEAC5E;  /* fallback for old browsers */


main {
  margin-top:-20px;
  height: 900px;
  text-align: center;
  background: #FEAC5E;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  height: 38px;
  font-family: Work Sans, sans-serif;
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 0.6px;
  text-align: center;
  color: #185a9d;
  padding-top: 40px;
  margin: 0;
}

li {
  text-align: center;
  margin: 0 25% 0 25%;
}

.logo {
  width: 210px;
  height: 88px;
  margin-top: 10px;
  object-fit: contain;
}

.container {
  width: 400px;
  margin: auto;
  text-align: center;
}

#input {
  width: 219px;
  height: 37px;
  border-radius: 3.2px;
  border: solid 0.8px #185a9d;
  background: #D38312;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: block;
  margin: auto;
  margin-top: 10px;
  font-family: Source Sans Pro;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

#submit {
  width: 125px;
  height: 30px;
  border-radius: 2px;
  border-color: inherit;
  background: #D38312;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin-top: 30px;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #185a9d;
  margin-right: -3px;
}

#responseField {
  min-width: 191px;
  min-height: 120px;
  background: #D38312;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: auto;
  margin-top: 25px;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
  overflow-wrap: break-word;
  padding: 20px;
}

#submit:hover {
  color: #ffffff;
  cursor: pointer;
}

#submit:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: yellow;
  cursor: pointer;
}
